NODE_ENV=development
APP_ENV=local
LOG_LEVEL=info

EXTRACTION_HEADLESS=true
EXTRACTION_DEFAULT_TIMEOUT_MS=30000
EXTRACTION_NAVIGATION_TIMEOUT_MS=45000
EXTRACTION_RETRY_COUNT=2

PLAYWRIGHT_BROWSER=chromium
PLAYWRIGHT_BLOCK_ADS=true
PLAYWRIGHT_BLOCK_TRACKERS=true
PLAYWRIGHT_BLOCK_FONTS=false
PLAYWRIGHT_BLOCK_NON_ESSENTIAL_MEDIA=false

STORAGE_DRIVER=local
ARTIFACT_STORAGE_DIR=.data/artifacts
DATASET_STORAGE_DIR=.data/dataset

DATASET_DEFAULT_SPLIT=unassigned
DATASET_SCREENSHOT_FORMAT=png

CARNAUBA_BRAND_ID=27
CARNAUBA_API_BASE_URL=https://merconnect.mercadapp.com.br/mapp/v2
CARNAUBA_STORE_CACHE_DIR=.data/cache
CARNAUBA_STORE_CACHE_TTL_HOURS=24
CARNAUBA_LEAFLET_OUTPUT_DIR=.data/leaflets
CARNAUBA_SITE_BASE_URL=https://carnaubasupermercados.com.br
CARNAUBA_PLAYWRIGHT_LEAFLET_OUTPUT_DIR=.data/leaflets-playwright
CARNAUBA_PLAYWRIGHT_WIDTH=1366
CARNAUBA_PLAYWRIGHT_HEIGHT=768
CARNAUBA_PLAYWRIGHT_DEVICE_SCALE_FACTOR=1
CARNAUBA_PLAYWRIGHT_TIMEOUT_MS=30000
CARNAUBA_PLAYWRIGHT_SETTLE_DELAY_MS=5000
CARNAUBA_VISUAL_DATASET_ENABLED=true
CARNAUBA_VISUAL_DATASET_DIR=.data/visual-dataset
CARNAUBA_VISUAL_DATASET_SPLIT=unassigned
